// Get me some bootstrap
@import "bootstrap/bootstrap.less";

form {
    .form-group-hidden,
    .form-group-submit { margin: 0; }
    .form-control-static {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.panel {
    .panel-heading {
        h2.panel-title { font-size: @font-size-h2; }
        .pagination { margin: 0; margin-left: 1em; }
    }
}
